<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{- partial "nav.html" . -}}
  {{- partial "mobile-menu.html" . -}}

  <main>
    {{- block "main" . }}{{ end -}}
  </main>

  {{- partial "footer.html" . -}}

  <script src="/js/main.js" defer></script>
</body>
</html>
